---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.research reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single-publications.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.research reversed %}
    {% include archive-single-publications.html %}
  {% endfor %}
{% endif %}
-->

<h2>Published Research</h2>

<p>
<a href="/files/pdf/research/LTCM_Redux_draft.pdf"> LTCM Redux? Hedge Fund Treasury Trading, Funding Fragility, and Risk Constraints </a> 
  (with M. S. Kruttli, L. Petrasek, and S. W. Watugala) 
  <i>Journal of Financial Economics (accepted)</i>
  <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3817978"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.sciencedirect.com/science/article/abs/pii/S0304405X2200054X"> The Life of the Counterparty: Shock Propagation in Hedge Fund-Prime Broker Credit Networks </a> 
  (with M. S. Kruttli and S. W. Watugala) 
  <i>Journal of Financial Economics</i> 146:965-988, 2022 
  <a href="https://www.sciencedirect.com/science/article/abs/pii/S0304405X2200054X"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>
