---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.research reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single-publications.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.research reversed %}
    {% include archive-single-publications.html %}
  {% endfor %}
{% endif %}
-->

<h2>Published Research</h2>

<p>
<a href="/files/pdf/research/LTCM_Redux_draft.pdf"> LTCM Redux? Hedge Fund Treasury Trading, Funding Fragility, and Risk Constraints </a> 
  (with M. S. Kruttli, L. Petrasek, and S. W. Watugala) 
  <i>Journal of Financial Economics (accepted)</i>
  <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3817978"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.sciencedirect.com/science/article/abs/pii/S0304405X2200054X"> The Life of the Counterparty: Shock Propagation in Hedge Fund-Prime Broker Credit Networks </a> 
  (with M. S. Kruttli and S. W. Watugala) 
  <i>Journal of Financial Economics</i> 146:965-988, 2022 
  <a href="https://www.sciencedirect.com/science/article/abs/pii/S0304405X2200054X"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://link.springer.com/article/10.1007/s11403-020-00310-5"> Information Flows and Crashes in Dynamic Social Networks </a> 
  (with R. Bookstaber) 
  <i>Journal of Economic Interaction and Coordination</i> 16:471-495, 2021 
  <a href="https://link.springer.com/article/10.1007/s11403-020-00310-5"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.mdpi.com/2227-9091/7/1/25"> The OFR Financial Stress Index </a> 
  <i>Risks</i> 7, no. 1, 2019 (Featured paper) 
  <a href="https://www.mdpi.com/2227-9091/7/1/25"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.pm-research.com/content/iijaltinv/18/4/125"> Form PF and the Systemic Risk of Hedge Funds: Risk-measurement Precision for Options Portfolios </a> 
  (with M. Flood)
  <i>Journal of Alternative Investments</i> 18, no. 4: 125-147, 2016 
  <a href="https://www.pm-research.com/content/iijaltinv/18/4/125"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.worldscientific.com/doi/abs/10.1142/S2345768614500135?srsltid=AfmBOootaiv9yvQ0KRIGPzT4-ImlofkPEPqiBwqr8V4f9LKt5V7qiOgl"> On the Optimal Wealth Process in a Log-normal Market: Applications to Risk Management </a> 
  (with T. Zariphopoulou)
  <i>Journal of Financial Engineering</i> 1, no. 2: 1-37, 2014 (Lead article)
  <a href="https://www.worldscientific.com/doi/abs/10.1142/S2345768614500135?srsltid=AfmBOootaiv9yvQ0KRIGPzT4-ImlofkPEPqiBwqr8V4f9LKt5V7qiOgl"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.tandfonline.com/doi/abs/10.1080/14697688.2013.853318"> On a Dynamic Adaptation of The Distribution Builder Approach to Investment Decisions </a> 
  <i>Quantitative Finance </i> 14, no. 5: 749-760, 2014 (Lead/Featured article)
  <a href="https://www.tandfonline.com/doi/abs/10.1080/14697688.2013.853318"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<h2>Working Papers</h2>

<p>
<a href="https://www.federalreserve.gov/econres/feds/credit-supply-and-hedge-fund-performance-evidence-from-prime-broker-surveys.htm"> Credit Supply and Hedge Fund Performance: Evidence from Prime Broker Surveys </a> 
  (with D. Li and L. Petrasek)
  FEDS Working Paper
  <a href="https://www.federalreserve.gov/econres/feds/credit-supply-and-hedge-fund-performance-evidence-from-prime-broker-surveys.htm"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.federalreserve.gov/econres/feds/hidden-risk.htm"> Hidden Risk </a> 
  (with D. Barth, E. Siriwardane, and A. Sunderam)
  FEDS Working Paper
  <a href="https://www.federalreserve.gov/econres/feds/hidden-risk.htm"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.federalreserve.gov/econres/feds/reaching-for-duration-and-leverage-in-the-treasury-market.htm"> Reaching for Duration and Leverage in the Treasury Market </a> 
  (with D. Barth, R. J. Kahn, and O. Sokolinskiy)
  FEDS Working Paper
  <a href="https://www.federalreserve.gov/econres/feds/reaching-for-duration-and-leverage-in-the-treasury-market.htm"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4662272"> Liquidity Provision in a One-Sided Market: The Role of Dealer-Hedge Fund Relations </a> 
  (with M. S. Kruttli, M. Macchiavelli, and Xing (Alex) Zhou)
  <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4662272"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3544304"> Leverage and Risk in Hedge Funds </a> 
  (with D. Barth and L. Hammond)
  OFR Working Paper 20-02, February 2020
  <a href="https://www.financialresearch.gov/working-papers/files/OFRwp-20-02_leverage-and-risk-in-hedge-funds.pdf"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3544304"> Illiquidity in Intermediary Portfolios: Evidence from Large Hedge Funds </a> 
  (with D. Barth)
  OFR Working Paper 20-03, February 2020 
  <a href="https://www.financialresearch.gov/working-papers/files/OFRwp-20-03_illiquidity-in-intermediate-portfolios.pdf"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3544304"> Investor Concentration, Flows, and Cash Holdings: Evidence from Hedge Funds </a> 
  (with M. S. Kruttli and S. W. Watugala)
  OFR Working Paper 17-07 and FEDS Working Paper, December 2017
  <a href="https://www.financialresearch.gov/working-papers/files/OFRwp-17-07_Investor-Concentration-in-Hedge-Funds.pdf"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<h2> Other Articles</h2>

<p>
<a href="https://www.federalreserve.gov/econres/notes/feds-notes/private-credit-growth-and-monetary-policy-transmission-20240802.html"> Private Credit Growth and Monetary Policy Transmission </a> 
  (with A. Degerli)
  FEDS Note, August 2024
  <a href="https://www.federalreserve.gov/econres/notes/feds-notes/private-credit-growth-and-monetary-policy-transmission-20240802.html"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.federalreserve.gov/econres/notes/feds-notes/quantifying-treasury-cash-futures-basis-trades-20240308.html"> Quantifying Treasury Cash-Futures Basis Trades </a> 
  (with J. Glicoes, B. Iorio, and L. Petrasek)
  FEDS Note, March 2024
  <a href="https://www.federalreserve.gov/econres/notes/feds-notes/quantifying-treasury-cash-futures-basis-trades-20240308.html"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.federalreserve.gov/econres/notes/feds-notes/hedge-fund-treasury-exposures-repo-and-margining-20230908.html"> Hedge Fund Treasury Exposures, Repo, and Margining </a> 
  (with A. Banegas)
  FEDS Note, September 2023
  <a href="https://www.federalreserve.gov/econres/notes/feds-notes/hedge-fund-treasury-exposures-repo-and-margining-20230908.html"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.federalreserve.gov/econres/notes/feds-notes/non-bank-financial-institutions-and-the-slope-of-the-yield-curve-20221011.html"> Non-bank financial institutions and the slope of the yield curve </a> 
  (with S. Infante, L. Petrasek, and M. Tian)
  FEDS Note, October 2022
  <a href="https://www.federalreserve.gov/econres/notes/feds-notes/non-bank-financial-institutions-and-the-slope-of-the-yield-curve-20221011.html"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.federalreserve.gov/econres/notes/feds-notes/sizing-hedge-funds-treasury-market-activities-and-holdings-20211006.html"> Sizing hedge funds' Treasury market activities and holdings </a> 
  (with A. Banegas and L. Petrasek)
  FEDS Note, October 2021
  <a href="https://www.federalreserve.gov/econres/notes/feds-notes/sizing-hedge-funds-treasury-market-activities-and-holdings-20211006.html"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.financialresearch.gov/working-papers/files/OFRwp-2015-13_Gauging-Form-PF.pdf"> Gauging Form PF: Data Tolerances in Regulatory Reporting on Hedge Fund Risk Exposures </a> 
  (with M. Flood and L. Bandyopadhyay)
  OFR Working Paper 15-13, July 2015 
  <a href="https://www.financialresearch.gov/working-papers/files/OFRwp-2015-13_Gauging-Form-PF.pdf"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>

<p>
<a href="https://www.financialresearch.gov/working-papers/files/OFRwp2014-08_Monin_HedgingMarketRiskinOptimalLiquidation.pdf"> Hedging Market Risk in Optimal Liquidation </a> 
  OFR Working Paper 14-08, November 2014
  <a href="https://www.financialresearch.gov/working-papers/files/OFRwp2014-08_Monin_HedgingMarketRiskinOptimalLiquidation.pdf"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
</p>
